<!doctype html>
<html lang="es">
	<head>
		<title>Events info</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./events.css">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
	<body>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 title"><h1>Here you have the programmed events to Madrid</h1></div>
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<% for (var x = 0; x < events.length; x++) { %>
				<div class="card bg-light border-warning mb-3">
					<div class="card-header">ID: <%= events[x].id %> ---- Location: <%= events[x].location %> </div>
					<div class="card-body">
					  <h5 class="card-title"> <%= events[x].name %></h5>
					  <p class="card-text"> <%= events[x].description %> </p>
					  <footer class="blockquote-footer">Begin at <cite title="Source Title"><%= events[x].begin_at %></cite></footer>
					</div>
				  </div>
			<% } %>
		</div>
		<div class="col-md-2"></div>
	</div>
	</body>
</html>
